			body {
				background-color: #D8D1D4;
			}

			a {
				color: black;
			}
			a:hover{
				color:white;
			}

			ul {
			    list-style-type: circle;
			    margin: 20px;
			    padding: 0;
			}
			h1{
				font-size:60px;
				text-align: center;
			}
			h2{
				
			}
			img {
				height: 200px;				
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 20%;
			}

			div{
				
			}

			